.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0.25rem 0.25rem 0.25rem;
}

.logo {
    width: 5rem;
    height: 5rem;
    margin: 1.5rem 1.5rem 1.5rem 5rem;
}

.buscar {
    border-radius: 1rem 1rem 1rem 1rem;
    border: none;
    background-color: rgb(235, 232, 232);
    width: 30rem;
    height: 2rem;
}

.input__container {
    display: flex;
    margin-right: 10rem;
}

.lupa {
    margin-top: 0.25rem;
    width: 1.5rem;
    height: 1.5rem;
    transform: translate(-150%);
}

.button {
    width: 15rem;
    height: 3rem;
    border-radius: 1rem 1rem 1rem 1rem;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 3rem;
    font-weight: bold;
    text-decoration: none;
}

@media screen and (max-width: 420px) {
    .header {
        margin: 0.25rem 0.25rem 0.25rem 0.25rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .logo {
        margin: 0.25rem 0.25rem 0.25rem 0.25rem;
    }
    .input__container {
        width: 13rem;
    }
}

@media screen and (max-width: 801px) {
    .logo {
        margin: 1rem 1rem 1rem 1rem;
    }
    .buscar {
        width: 20rem;
    }
    .input__container {
        margin-right: 1rem;
    }
}